* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #bfbfbf;
}

#profile {
	border-radius: 50%;
}

.row {
	 margin:10px; 
	 padding:10px;
}

#pre-footer {
	padding: 1rem;
	background-color: black;
	color: white;
}

#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}